<li>
  <%= gravatar_for user, size: Settings.view.user._user.size %>
  <%= link_to user.name, user %> |
  <%= user.email %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(".delete"), user, method: :delete,
    data: {confirm: t(".confirm")} %>
  <% end %>
</li>
